@using Coveoticore.Website.Models
@model Coveoticore.Website.Models.USPCModel
@{
    if (Model != null)
    {
        <div>@Html.Sitecore().Field("SingleLineText")</div>
        <div>@Html.Sitecore().Field("MultiLineText")</div>
        <div>@Html.Sitecore().Field("DateTime")</div>
        <div>@Html.Sitecore().Field("Number")</div>
        <div>@Html.Sitecore().Field("Image")</div>
    }
}