@using Coveoticore.Website.Models
@model Coveoticore.Website.Models.USPCModel
@{
    if (Model != null)
    {
        <div>@Model.SingleLineText"</div>
        <div>@Model.MultiLineText"</div>
        <div>@Model.DateTime"</div>
        <div>@Model.Number"</div>
        <div>@Model.Image"</div>
    }
}